.contactsList {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.itemContacts {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 8px;
    width: 100%;
}
.contactInfo {
    color: rgb(42, 37, 37);
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 8px;
    border: none;
    background-color: inherit;
    background: rgba(179, 115, 217, 0.6)
}
.link {
    text-decoration: none;
    color: inherit;
}


.btn {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    background-color: #ae21ff;
    transition: background-color 350ms cubic-bezier(0.47, 0, 0.745, 0.715), color 350ms cubic-bezier(0.47, 0, 0.745, 0.715);
    border-radius: 8px;
    color: rgb(42, 37, 37);
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border: none;
}

.btn:hover {
    background: transparent;
    color: #ae21ff;
}

.btn:before,
.btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    background: #ae21ff;
    width: 0;
    box-shadow: 0 0 5px #ae21ff, 0 0 5px #ae21ff inset;
    transition: 400ms ease all;
}

.btn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn:hover:before,
.btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}
/*----------------ADAPTIVE LAYOUT------------*/
@media screen and (min-width: 728px) {
    .btn,
    .contactInfo {
        font-size: 22px;
        padding: 20px 15px;
    }    
} 
    
