@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/images/background-image-min.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  min-width: 320px;
  max-width: 1240px;
  padding-left: 15px;
  padding-right: 15px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  margin-bottom: 40px;
}
/*------------------ADAPTIVE LAYOUT-----------------*/
@media screen and (min-width: 427px) {
    .container {
        min-width: 427px;
    }
}
@media screen and (min-width: 728px) {
    .container {
      min-width: 550px;
    }
}
@media screen and (min-width: 950px) and (max-width: 1240px) {
    .container {
      min-width: 930px;
    }
}
